@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --primary-color: #00ffff;
  --background-color: #0a0a0a; 
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-size: 16px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
  padding: 1rem;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary-color);
}

section {
  margin: 2rem auto;
  max-width: 100%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

footer {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center  
}

@media screen and (min-width: 768px) {
  body, html {
    font-size: 18px;
  }

  main {
    padding: 2rem;
  }

  header {
    padding: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  nav ul {
    gap: 2rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  section {
    max-width: 800px;
    padding: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }
}
